<h2 class="text-center text-green-500 py-5">Forget Password</h2>
<div class="w-3/4 mx-auto py-4">
   @if(!isCodeForm && !isNewPassForm)
   {
        <form [formGroup]="emailForm" (ngSubmit)="verifyBtn()">

          <div class="mb-5">
              <label for="email" class="mb-3 block text-base font-medium text-[#07074D]">
                Email
              </label>
              <input formControlName="email" id="email" placeholder="Email" class="w-full appearance-none rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-green-500 focus:shadow-md"
              />
            </div>

            @if(emailForm.get('email')?.errors && emailForm.get('email')?.touched)
              {
              <div
                  class="font-regular relative block w-full rounded-lg bg-red-800 p-4 text-base leading-5 text-white opacity-100">

                  @if(emailForm.get('email')?.errors?.['required'] )
                  {
                  <p>Email is Requied</p>
                  }
                  @else if (emailForm.get('email')?.errors?.['email'])
                  {
                  <p>Kindly enter valid email</p>
                  }
              </div>
              }
            <button type="submit" class="p-2 bg-green-500 text-white rounded-md">Verify</button>
      </form>
   }
    @if(isCodeForm)
    {
        <form [formGroup]="codeForm" (ngSubmit)="codeBtn()">

            <div class="mb-5">
                <label for="code" class="mb-3 block text-base font-medium text-[#07074D]">
                  Code
                </label>
                <input formControlName="resetCode" id="code" placeholder="Code" class="w-full appearance-none rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-green-500 focus:shadow-md"
                />
              </div>
              @if(codeForm.get('resetCode')?.errors && codeForm.get('resetCode')?.touched)
              {
              <div
                  class="font-regular relative block w-full rounded-lg bg-red-800 p-4 text-base leading-5 text-white opacity-100">
                  @if(codeForm.get('resetCode')?.errors?.['required'] )
                  {
                  <p>resetCode is Requied</p>
                  }
              </div>
              }
              <button type="submit" class="p-2 bg-green-500 text-white rounded-md">Code</button>
        </form>
    }
      @if(isNewPassForm)
      {
        
      <form [formGroup]="resetPassForm" (ngSubmit)="newPasswordBtn()">

        <div class="mb-5">
            <label for="email" class="mb-3 block text-base font-medium text-[#07074D]">
              Email
            </label>
            <input formControlName="email" id="email" placeholder="Email" class="w-full appearance-none rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-green-500 focus:shadow-md"
            />
          </div>

          @if(resetPassForm.get('email')?.errors && resetPassForm.get('email')?.touched)
            {
            <div
                class="font-regular relative block w-full rounded-lg bg-red-800 p-4 text-base leading-5 text-white opacity-100">

                @if(resetPassForm.get('email')?.errors?.['required'] )
                {
                <p>Email is Requied</p>
                }
                @else if (resetPassForm.get('email')?.errors?.['email'])
                {
                <p>Kindly enter valid email</p>
                }

            </div>
            }

          <div class="mb-5">
            <label for="password" class="mb-3 block text-base font-medium text-[#07074D]">
              Password
            </label>
            <input formControlName="newPassword" id="password" placeholder="Password" class="w-full appearance-none rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-green-500 focus:shadow-md"
            />
          </div>

          @if(resetPassForm.get('newPassword')?.errors && resetPassForm.get('newPassword')?.touched)
          {
          <div
              class="font-regular relative block w-full rounded-lg bg-red-800 p-4 text-base leading-5 text-white opacity-100">

              @if(resetPassForm.get('newPassword')?.errors?.['required'] )
              {
              <p>newPassword is Requied</p>
              }
              @else if (resetPassForm.get('newPassword')?.errors?.['pattern'])
              {
              <p>Kindly enter valid newPassword</p>
              }
          </div>
          }
          <button type="submit" class="p-2 bg-green-500 text-white rounded-md">New Password</button>
    </form>
      }
</div>